In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("modified_movie_title.csv")

In [3]:
df.head(5)

   MovieID  Year_of_release
0        1             2003
1        2             2004
2        3             1997
3        4             1994
4        5             2004

In [4]:
year_of_release = list(df.Year_of_release)

In [8]:
for i in range(len(year_of_release)):
    st = str(year_of_release[i])+'0101'
    year_of_release[i] =int(st)

In [10]:
df['Year_of_release'] = year_of_release

In [12]:
import pickle

In [13]:
with open("modified_movie_title_year.pkl",'wb') as fp:
    pickle.dump(df,fp)