In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Whole_dataset1.txt')

In [3]:
df.sample(n=5)

          CustomerID  Score        Date  MovieID
23306193      397126      4  2004-10-07     4364
3493185       996871      3  2005-08-25      662
1022227      2325522      4  2004-12-29      241
12405310       35017      3  2005-06-06     2389
19950149     1384810      3  2004-10-29     3817

Calculating the mean score, std deviation of score and number of score given by each of the customer(for a part) and storing them in a pickle file

In [9]:
'''
import numpy as np
_1, _2, _3, = [], [], []; 
custid = list(set(df.CustomerID))
custid.sort()
for i in custid[400000:]:
    user_score = df[df.CustomerID == i].Score.tolist()
    _1.append(np.mean(user_score))
    _2.append(np.std(user_score))
    _3.append(len(user_score))
'''
print

In [8]:
import pickle
movie_info = pd.DataFrame({'CustomerID':custid[400000:],'Cust_mean':_1,'cust_stddev':_2,'freq_of_rating':_3})
with open('movie_info5.pkl','wb') as fp:
    pickle.dump(movie_info,fp)

fp.close()

In [10]:
movie_info.sample(n=5)

       Cust_mean  CustomerID  cust_stddev  freq_of_rating
7832    3.895349     2295555     0.699320              86
28619   3.500000     2412398     0.500000               2
36583   5.000000     2457157     0.000000               1
52857   3.333333     2548508     1.247219               9
12710   3.888889     2323200     0.737028               9