In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Whole_dataset1.txt')

In [3]:
df = df.sort_values(by='CustomerID')

In [4]:
cust_id = df.CustomerID.tolist()

In [5]:
cust_id.count(6)

153

In [6]:
flag = cust_id[0]; count=0
for i in range(len(cust_id)):
    if(flag==cust_id[i]):
        cust_id[i]=count
    else:
        flag = cust_id[i]
        count+=1
        cust_id[i]=count

In [7]:
print(cust_id)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [8]:
df['CustomerID'] = cust_id

In [9]:
df.head(10),df.tail(10)

(          CustomerID  Score        Date  MovieID
 881625             0      3  2004-09-22      197
 1438379            0      3  2005-04-20      299
 2547216            0      3  2005-11-25      468
 17387129           0      4  2005-03-23     3333
 1368432            0      4  2004-09-27      295
 19051164           0      4  2004-09-27     3624
 9352578            0      2  2005-11-25     1843
 3182810            0      3  2005-01-20      580
 9914136            0      4  2005-12-04     1918
 20944746           0      4  2004-09-15     3936,
           CustomerID  Score        Date  MovieID
 3688692       470757      2  2002-05-16      708
 22417075      470757      3  2002-10-15     4260
 22755810      470757      5  2002-05-16     4306
 7514810       470757      3  2002-11-22     1509
 21485806      470757      3  2004-05-17     4043
 13213316      470757      3  2002-05-31     2499
 21583989      470757      4  2003-02-28     4056
 14253849      470757      5  2005-10-18     2755
 18979153      470757      5  2005-10-10     3624
 17903648      470757      4  2004-01-27     3427)

In [10]:
df = df.sort_values(by='Date')

In [11]:
df.head(10)

          CustomerID  Score        Date  MovieID
14892677       91061      3  1999-11-11     2866
19585852       91061      4  1999-11-11     3730
6901473        91061      5  1999-11-11     1367
20393918       91061      2  1999-11-11     3870
9056171        91061      5  1999-11-11     1798
15344539       91061      3  1999-12-06     2948
13150839       91061      3  1999-12-06     2478
17853578       91061      3  1999-12-06     3421
14344265       21742      3  1999-12-08     2780
22132853       21742      3  1999-12-08     4171

In [12]:
leng = df.shape[0]
leng = 0.7*leng
leng = int(leng)
test_df = df[leng:]

In [13]:
#test_df.head(10),test_df.tail(10)

In [14]:
a = df.Score.tolist()

In [15]:
for i in range(leng,len(a)):
    a[i]=0.00001

In [16]:
cust, mov = len(set(df.CustomerID)) , len(set(df.MovieID))
row, col = cust, mov

import numpy as np
from scipy.sparse import csr_matrix

r = np.array(df.CustomerID);
c = np.array(df.MovieID);
for i in range(c.shape[0]):
    c[i] = c[i]-1
data = np.array(a)

Ratings = csr_matrix((data, (r, c)),shape=(row,col))

import pickle
with open('sparse_matrix.txt','wb') as fp:
    pickle.dump(Ratings, fp)
fp.close()

In [17]:
Ratings.shape

(470758, 4499)

In [19]:
len(set(df.CustomerID))

470758